<router-outlet></router-outlet>

<!-- Buttons in seperate module
<app-main></app-main>
-->

<!-- First Try
<div class="container-fluid fh-back">
  <div class="fh-top">
    <app-header></app-header>
  </div>
  <div class="fh-middle scroll-y">
    <button type="button" class="btn btn-primary btn-lg btn-block">Assign UPCs</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Inventory Counts</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Transfers</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Receiving</button>
  </div>
  <div class="fh-bottom">
    <a href="#" class="btn btn-warning float-right">Log Out</a>
  </div>
</div>
-->
